.card{
    margin-top: 15px;
    border: 1px solid blue;
    width: 550px;
    padding: 45px;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color:yellowgreen;
}
h6{
    color: red;
}
h1{
    color: blue;
}